<section>
  <h3>What is the release status of the tool?</h3>
  <p>HRSB is currenly in alpha. The are a load of features yet to be added and I'm sure a ton of bugs to be fixed.</p>
  <h3>What browsers are supported?</h3>
  <p>At this time, I've tested it in Chrome, Firefox and Edge(has some visual glitches). Chrome is recommended as its the primary development broswer and therefore has been tested most extensivly. Chrome also seems to have the best performace when parsing the replay </p>
  <h3>Why is feature 'X' not included</h3>
  <p>That depends, either I havent gotten around to it, noone has suggested it, or I simply can't get the data I need out of the replay. If you have suggestions on how to improve the tool feel free to <a target="_blank" href="https://github.com/myrddraall/heroesbrowser-replay-viewer/issues">post it here</a></p>
  <h3>Do you store replays on the server?</h3>
  <p>No. The app does everthing in the browser, replays are never uploaded to a server.</p>
  <h3>If you don't store anything on the server then how do things like saving the stat filters work?</h3>
  <p>The app uses local storage to store settings like the filters. If you move to another computer/browser the settings won't carry over </p>
  <h3>Do you collect any information about me or my replays?</h3>
  <p>The app uses Google analytics to gather anonamized statistcs about the apps usage. Non of the data identifies you. The only info about the replay that is gathered is the game mode, map and fingerprint of the replay</p>
  <h3>Why do i get blank pages on older replays</h3>
  <p>Some features use data that isn't included in older replays. Usually you will get a not supported message, but due to very little documentation about when replays start supporting certain data not all cases have been accounted for. If you run into this please post a bug report at <a target="_blank" href="https://github.com/myrddraall/heroesbrowser-replay-viewer/issues">https://github.com/myrddraall/heroesbrowser-replay-viewer/issues</a> and provide a link to the replay</p>
  <h3>Why do I get a 'Failed to load Heroes Protocol' Error</h3>
  <p>The app needs data about the replay version in order to parse it. It get this data from <a target="_blank" href="https://github.com/Blizzard/heroprotocol">Blizzard's heroprotocol project</a>. If there has been a patch recently the protocol may just not be released yet. Please try again later. Blizzard usually releases protocols fairly quicklly. If the replay is older and you get this message  please post a bug report at <a target="_blank" href="https://github.com/myrddraall/heroesbrowser-replay-viewer/issues">https://github.com/myrddraall/heroesbrowser-replay-viewer/issues</a> and provide a link to the replay</p>
  <h3>What languages/technologies do you use to write the tool?</h3>
  <h4>Code</h4>
  <p><a target="_blank" href="https://www.typescriptlang.org/">Typescript</a></p>
  <p><a target="_blank" href="https://angular.io/">Angular 6</a></p>
  <h4>Tech</h4>
  <p>ES6</p>
  <p>Webworkers</p>
  <p>Local Storage</p>
  <h4>Tools</h4>
  <p><a target="_blank" href="https://code.visualstudio.com/">Visual Studio Code</a></p>
  <p><a target="_blank" href="https://cli.angular.io/">Angular CLI</a></p>
  <p><a target="_blank" href="https://www.npmjs.com/">NPM</a></p>
  <p><a target="_blank" href="https://webpack.js.org/">Webpack</a></p>
  <p><a target="_blank" href="https://gulpjs.com/">Gulp</a></p>
</section>
