<section *ngIf="talentChoices" [hidden]="state !== SectionState.READY">
  <mat-table #table class="score-table" [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="hero">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let player" style="overflow:visible;">
        <div class="player-cell">
          <hero-icon [hero]="player.hero" shape="none"></hero-icon>
          <div class="icon-overlay"></div>
          <div class="name">
            <div class="hero-name">{{player.hero}}</div>
            <div class="player-name">{{player.playerName}}</div>
          </div>
          <!--<div class="silence">
            <div class="chat" *ngIf="player.hasChatSilence"></div>
            <div class="voice" *ngIf="player.hasVoiceSilence"></div>
          </div>
        -->
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="T1">
      <mat-header-cell *matHeaderCellDef>
        T1
      </mat-header-cell>
      <mat-cell *matCellDef="let player" class="talent-tier">
        <talent-icon [talent]="player.talents[0]"></talent-icon>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="T2">
      <mat-header-cell *matHeaderCellDef>
        T2
      </mat-header-cell>
      <mat-cell *matCellDef="let player" class="talent-tier">
          <talent-icon [talent]="player.talents[1]"></talent-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="T3">
      <mat-header-cell *matHeaderCellDef>
        T3
      </mat-header-cell>
      <mat-cell *matCellDef="let player" class="talent-tier">
          <talent-icon [talent]="player.talents[2]"></talent-icon>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="T4">
      <mat-header-cell *matHeaderCellDef>
        T4
      </mat-header-cell>
      <mat-cell *matCellDef="let player" class="talent-tier">
          <talent-icon [talent]="player.talents[3]"></talent-icon>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="T5">
      <mat-header-cell *matHeaderCellDef>
        T5
      </mat-header-cell>
      <mat-cell *matCellDef="let player" class="talent-tier">
          <talent-icon [talent]="player.talents[4]"></talent-icon>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="T6">
      <mat-header-cell *matHeaderCellDef>
        T6
      </mat-header-cell>
      <mat-cell *matCellDef="let player" class="talent-tier">
          <talent-icon [talent]="player.talents[5]"></talent-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="T7">
      <mat-header-cell *matHeaderCellDef>
        T7
      </mat-header-cell>
      <mat-cell *matCellDef="let player" class="talent-tier">
          <talent-icon [talent]="player.talents[6]"></talent-icon>
      </mat-cell>
    </ng-container>
    <mat-row *matRowDef="let player; columns: displayCols" [class.team1]="player.team === 0" [class.team2]="player.team === 1"></mat-row>
  </mat-table>
</section>
<div #statusRef></div>
