@import '../shared/hero_table';
@include hero_table();
:host {
  display: block;
  padding: 40px;
  min-height: 100%;
  height: 100%;

  section{
    display: flex;
    justify-content: center;
  }
}

.talent-tier {
  display: flex;
  justify-content: center;
  z-index: 5;
}

mat-table {
  max-width: 1200px;
  flex-grow: 1;
  .mat-row {
    .mat-cell {
      overflow: visible;
      &.talent-tier {
        min-width: 56px;
        max-width: 10%;
        width: 10%;
      }
    }
  }
}
