<mat-sidenav-container [hidden]="state !== SectionState.READY">
  <mat-sidenav mode="side" opened="true" position="end">
    <map-controls [(mapViewMode)]="viewMode" [(iconVisibility)]="iconVisibility"></map-controls>
    <mat-form-field color="accent">
        <mat-select placeholder="Show Minions" [(value)]="currentFilter" [compareWith]="compareFilter">
          <mat-option *ngFor="let filter of killedByFilter" [value]="filter">{{filter.label}}</mat-option>
        </mat-select>
      </mat-form-field>
  </mat-sidenav>
  <mat-sidenav-content>
    <map-viewer [replay]="replay" [viewMode]="viewMode" [heatmap]="heatmap" (error)="onMapviewError($event)" [iconVisibility]="iconVisibility"></map-viewer>
  </mat-sidenav-content>
</mat-sidenav-container>
<div #statusRef></div>
