:host {
  ::ng-deep {
    .background-image-container[region="0"] {
      top: -5%;
      height: 100%;
      left: -5%;
      width: 100%;
      .background-image {
        top: -1.1%;
        height: 98.1%;
        left: -4.2%;
        width: 105.3%;
      }
    }
  }

  .minimap {
    top: 1.2%;
    height: 84.2%;
    left: 0%;
    width: 88.8%;
  }
}
