<section>
  <p>Heroes Replay Statistics Browser is an app designed to help you better analyse your Heroes of the Storm games. While many
    sites offer meta analysis of replays few dive deep into individual games.</p>
  <p>The app parses and analyses the replays 100% in the browser. No server required(except to serve the static files)</p>

  <h2>Credits</h2>
  <h3>Blizard Entertainment </h3>
  <p>They made the game</p>
  <p>©2014 Blizzard Entertainment, Inc. All rights reserved. Heroes of the Storm is a trademark of Blizzard Entertainment, Inc.</p>

  <h2>Code</h2>
  <h3>nexus-devtools</h3>
  <p>A collection of open source libraries and programs related to Heroes of the Storm</p>
  <p><a target="_blank" href="https://github.com/nexus-devtools">Github</a></p>
  <p><a target="_blank" href="https://github.com/nexus-devtools/empeeku">Github</a> - mpq extration</p>
  <p><a target="_blank" href="https://github.com/nexus-devtools/heroprotocol">Github</a> - replay parsing</p>
  <p>I ported(to typescript) and modified(to make it work in the browser) quite a bit of code from here</p>
  
  <h3>heroprotocoljs</h3>
  <p>Special Thanks to Mathieu Merdy & Justin J. Novack who put in alot of work porting the python replay parser to JS</p>
  <p>Their code is the basis of the code above</p>
  <p><a target="_blank" href="https://github.com/nydus/heroprotocol">Mathieu's Github</a></p>
  <p><a target="_blank" href="https://github.com/Farof/heroprotocoljs">Justin's Github</a></p>

  <h2>Thanks</h2>
  <p>To everyone in my gaming group that has been helping with suggestions and testing, you know who you are!</p>
</section>
