<mat-table #table [dataSource]="scoreData">
  <ng-container matColumnDef="hero">
    <mat-header-cell *matHeaderCellDef>Hero</mat-header-cell>
    <mat-cell *matCellDef="let player" style="overflow:visible;">
      <hero-icon [hero]="player.hero" shape="none"></hero-icon>
      <div class="name">
        <div>{{player.hero}}</div>
        <div>{{player.name}}</div>
      </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="award">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let player">{{player.scores.Awards.toString()}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="kills">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let player" [class.best]="isBest('SoloKill', player)" [class.best-team]="isBest('SoloKill', player, player.team)">{{player.scores.SoloKill}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="assists">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let player" [class.best]="isBest('Assists', player)" [class.best-team]="isBest('Assists', player, player.team)">{{player.scores.Assists}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="deaths">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let player" [class.best]="isBest('Deaths', player)" [class.best-team]="isBest('Deaths', player, player.team)">
      {{player.scores.Deaths}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="siegeDamage">
    <mat-header-cell *matHeaderCellDef>Siege Damage</mat-header-cell>
    <mat-cell *matCellDef="let player" [class.best]="isBest('SiegeDamage', player)" [class.best-team]="isBest('SiegeDamage', player, player.team)">
      {{player.scores.SiegeDamage}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="heroDamage">
    <mat-header-cell *matHeaderCellDef>Hero Damage</mat-header-cell>
    <mat-cell *matCellDef="let player" [class.best]="isBest('HeroDamage', player)" [class.best-team]="isBest('HeroDamage', player, player.team)">
      {{player.scores.HeroDamage}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="healing">
    <mat-header-cell *matHeaderCellDef>Healing/Shielding</mat-header-cell>
    <mat-cell *matCellDef="let player" [class.best]="isBest('Healing', player)" [class.best-team]="isBest('Healing', player, player.team)">
      {{player.scores.Healing}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="damageTaken">
    <mat-header-cell *matHeaderCellDef>Damage Taken</mat-header-cell>
    <mat-cell *matCellDef="let player" [class.best]="isBest('DamageTaken', player)" [class.best-team]="isBest('DamageTaken', player, player.team)">
      {{player.scores.DamageTaken}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="xp">
    <mat-header-cell *matHeaderCellDef>XP Contribution</mat-header-cell>
    <mat-cell *matCellDef="let player" [class.best]="isBest('ExperienceContribution', player)" [class.best-team]="isBest('ExperienceContribution', player, player.team)">
      {{player.scores.ExperienceContribution}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayCols"></mat-header-row>
  <mat-row *matRowDef="let player; columns: displayCols" [class.team1]="player.team === 0" [class.team2]="player.team === 1"></mat-row>
</mat-table>
