:host {
  ::ng-deep {
    .background-image-container[region="0"] {
      top: -5%;
      height: 100%;
      left: -5%;
      width: 100%;
      .background-image {
        top: -9.2%;
        height: 112.2%;
        left: -5.6%;
        width: 112.7%;
      }
    }
  }

  .minimap {
    top: 3.8%;
    height: 84.7%;
    left: -2.6%;
    width: 94.3%;
  }
}
