@mixin headerBG($mapHeader, $offset:0px) {
  background: linear-gradient( rgba(#0d0119, 0), rgba(#0d0119, 1)), url(https://us.battle.net/heroes/static/images/heroes-2/nav-top-pattern.png), url($mapHeader);
  background-position: 0px 0px, 0px 0px, center $offset;
}

:host {
  display: flex;
  padding: 16px;
  padding-bottom: 24px;
  background-repeat: repeat-x, repeat-x, no-repeat;
  background-size: auto auto, auto auto, 100% auto;
  @include headerBG('https://us.battle.net/heroes/static/images/game/Overview/TheBasics/BasicsBackground.jpg');
  &.battlefield-of-eternity {
    @include headerBG('https://us.battle.net/heroes/static/images/battlegrounds/battlefield-of-eternity/front-1940.jpg', -40px);
  }
  &.towers-of-doom {
    @include headerBG('https://us.battle.net/heroes/static/images/battlegrounds/towers-of-doom/front-1940.jpg', -10px);
  }
  &.cursed-hollow {
    @include headerBG('https://us.battle.net/heroes/static/images/battlegrounds/cursed-hollow/front-1940.jpg', -110px);
  }
  
  >* {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    >* {
      flex-grow: 0;
      align-self: center;
    }
  }
  .map {
    .mode {
      padding-bottom: 8px;
    }
    .name {
      font-size: 36px;
      line-height: 36px;
      font-weight: 700;
      margin-bottom: 4px;
      text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 24px white, 0px 0px 24px white, 0px 0px 34px white;
    }
    .date {
      padding-top: 8px;
    }
  }
  .players {
    display: flex;
    flex-direction: row;
    .player {
      width: 65px;
      height: 65px;
      //border-radius: 50%;
      margin-left: -6px;
      margin-right: -6px;
      margin-top: -8px;
    }
  }
  .team .winner {
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
  }
  .team1 {
    .player {
      //border: 2px solid navy;
      //box-shadow: 0px 0px 8px blue;
    }
    .winner {
      text-shadow: 0px 0px 18px blue, 0px 0px 18px blue, 0px 0px 18px blue;
    }
  }
  .team2 {
    .player {
     // border: 2px solid maroon;
     // box-shadow: 0px 0px 8px red;
    }
    .winner {
      text-shadow: 0px 0px 18px red, 0px 0px 18px red, 0px 0px 18px red;
    }
  }
}
