:host {
  display: block;
  height:100%;

  .mat-drawer-container{
    height: 100%;
  }
  .mat-sidenav-content{
    padding: 40px;
  }
  .chart-tooltip{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width:200px;
    pointer-events: none;
    z-index: 50;
    background-color: rgba($color: #000000, $alpha: 0.8);
    font-size: 13px;
    .team-tip{
      padding: 8px;
      margin: 4px;
      width: 92px;
      border: 1px solid  rgba($color: #ffffff, $alpha: 0.6);
      &.compare, &.time{
        width:192px;
      }
      &.team1{
        $glowColor: lighten($color: blue, $amount: 30);
        border: 1px solid $glowColor;
        .team{
          
          color: $glowColor;
        }
      }
      &.team2{
        $glowColor: lighten($color: red, $amount: 30);
        border: 1px solid $glowColor;
        .team{
          color: $glowColor;
        }
      }
    }
    label{
      color: rgba($color: #ffffff, $alpha: 0.6);
    }
    .team{
      font-weight: 700;
      font-size: 16px;
    }
  }

  .mat-sidenav{
    .xp-type-filter{
      display: flex;
      flex-direction: column;
      padding: 20px;
      >*{
        margin-left:10px;
      }
      >.all{
        margin-left:0px;
      }
    }
  }
}
