<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true" position="end">
    sn
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="chart-container">
      <canvas #xpOverviewChart></canvas>
      <div #chartTooltip class="chart-tooltip" style="display:none;">
        <div class="team-tip time" *ngIf="toolTipData">
            <label>Game Time:</label> {{(toolTipData[0].x / 60) | number: '0.0-1'}}
        </div>
        <div class="team-tip compare" *ngIf="toolTipData && toolTipData[0].y !== toolTipData[1].y" [class.team1]="toolTipData[0].y > toolTipData[1].y" [class.team2]="toolTipData[0].y < toolTipData[1].y">
          <div class="team">Advantage Team {{toolTipData[0].y > toolTipData[1].y ? 1 : 2}}</div>
          <div class="lvl"><label>Levels:</label> {{abs(toolTipData[0].level - toolTipData[1].level)}}</div>
          <div class="xp"><label>XP:</label> {{abs(toolTipData[0].y - toolTipData[1].y) | number: '0.0-0'}}</div>
        </div>
        <div *ngFor="let data of toolTipData" class="team-tip" [class.team1]="data.team === 0" [class.team2]="data.team === 1">
          <div class="team">Team {{data.team + 1}}</div>
          <div class="lvl"><label>Level:</label> {{data.level}}</div>
          <div class="xp"><label>XP:</label> {{data.y | number: '0.0-0'}}</div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div #statusRef></div>
