:host {
  ::ng-deep {
    .background-image-container[region="0"] {
      top: -5%;
      height: 100%;
      left: -5%;
      width: 100%;
      .background-image {
        top: 1.8%;
        height: 100.2%;
        left: -27%;
        width: 153.3%;
      }
    }
  }

  .minimap {
    top: 4.1%;
    height: 84.7%;
    left: -1.5%;
    width: 91.7%;
  }
}
