<div class="app-header">
  <div class="left">
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>settings</mat-icon>
    </button>
    <div class="app-title">
      <h1>HRSB</h1>
      <div class="version">v{{appVersion}}</div>
    </div>
  </div>
  <div class="center">
  <!-- 
    <nav mat-tab-nav-bar>
      <a mat-tab-link [routerLink]="lastReplaySection" routerLinkActive="mat-tab-label-active" #rla1="routerLinkActive" [active]="rla1.isActive">Replay</a>
      <a mat-tab-link [routerLink]="'/faq'" routerLinkActive="mat-tab-label-active"  #rla2="routerLinkActive" [active]="rla2.isActive">FAQ</a>
      <a mat-tab-link [routerLink]="'/about'" routerLinkActive="mat-tab-label-active"  #rla3="routerLinkActive" [active]="rla3.isActive">About</a>
    </nav>
  -->
  </div>
  <div class="right">

  </div>
</div>
<mat-sidenav-container class="app-content">
  <mat-sidenav mode="over" opened="false" #sideNav>
    <app-settings></app-settings>
    <nav class="recent-replays" *ngIf="allowRecentReplays">
      <h4>Recent Replays</h4>
      <ul>
        <li *ngFor="let recent of recentReplays | async; let i = index" (click)="loadRecent(recent.fingerPrint)" [class.loaded]="isRecentReplayLoaded(recent.fingerPrint)" [style.order]="100 - i" [popover]="recent" popoverPosition="right" [popoverTemplate]="popoverTPL">{{recent.mapName}}</li>
      </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #popoverTPL let-data="data">
  <recent-replay-tooltip [replayDescription]="data"></recent-replay-tooltip>
</ng-template>

