:host {

  position: fixed;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  >section>div {
    min-width: 400px;
    //padding-bottom: 200px;
    mat-progress-bar{
        height: 10px;
    }
  }
}
