@mixin hero_table() {
  mat-table {
    background-color: transparent;
    .mat-header-row {
      border: none;
      .mat-header-cell {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .mat-row {
      margin-bottom: 1px;
      border-bottom-width: 2px;
      &::before {
        content: " ";
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        right: 1px;
        border-top-width: 1px;
        border-top-style: solid;
        z-index: 2;
      }
      &.team1 {
        border-image: linear-gradient(to right, rgba(#1b3874, 0) 2%, #1b3874 6%) 1;
        &::before {
          border-image: linear-gradient(to right, rgba(#1b3874, 0) 2%, rgba(#1b3874, 0.3) 6%) 1;
        }
        background: linear-gradient(to right, rgba(#111034, 0) 20px, rgba(#111034, 1) 20px) 100%;
      }
      &.team2 {
        border-image: linear-gradient(to right, rgba(#660730, 0) 2%, #660730 6%) 1;
        &::before {
          border-image: linear-gradient(to right, rgba(#660730, 0) 2%, rgba(#660730, 0.3) 6%) 1;
        }
        background: linear-gradient(to right, rgba(#27021f, 0) 20px, rgba(#27021f, 1) 20px) 100%;
      }
      .mat-cell {
        overflow: visible;
        font-size: 18px;
        font-weight: 500;
        text-shadow: 0px 0px 1px black, 0px 0px 1px black, 1px 3px 2px black, 1px 3px 2px black;
        &.mat-column-hero{
            left: -28px;
        }
        
        .player-cell {
          display: flex;
          background-repeat: no-repeat;
          background-position-y: -6px;
          height: 54px;
         // left: -28px;
          min-width: 260px;
          overflow-y: hidden;
          hero-icon {
            top: -24px;
            left: 16px;
            width: 96px;
            height: 96px;
          }
          .icon-overlay {
            position: absolute;
            top: 0px;
            left: 16px;
            width: 96px;
            height: 54px;
            z-index: 5;
          }
          .name {
            margin-left: 28px;
            padding-right: 14px;
            >* {
              white-space: nowrap;
            }
            .hero-name {
              font-weight: 700;
              padding-top: 8px;
              padding-bottom: 2px;
            }
            .player-name {
              font-size: 14px;
            }
          }
          .silence {
            position: absolute;
            top: 5px;
            left: 90px;
            z-index: 10;
            >* {
              width: 30px;
              height: 25px;
              margin-top: -5px;
              background-size: 100% 100%;
            }
            .chat {
              background-image: url('/assets/icons/storm_ui_silencepenalty_chat.png');
            }
            .voice {
              background-image: url('/assets/icons/storm_ui_silencepenalty_voice_chat.png');
            }
          }
        }
      }
      &.team1 {
        $glowColor: blue;
        .mat-cell {
          color: lighten($color: $glowColor, $amount: 30);
          .player-cell {
            background-image: url('/assets/screens/scorescreen/player_row_blue.png');
            .icon-overlay {
              background: linear-gradient(to right, rgba(#111034, 0) 16%, rgba(#111034, 1) 100%) 100%;
            }
            .name {
              .hero-name {
                color: lighten($color: $glowColor, $amount: 45);
                text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 4px $glowColor, 0px 0px 4px $glowColor, 0px 0px 4px $glowColor, 0px 0px 4px $glowColor;
              }
            }
          }
        }
      }
      &.team2 {
        $glowColor: red;
        .mat-cell {
          color: lighten($color: $glowColor, $amount: 30);
          .player-cell {
            background-image: url('/assets/screens/scorescreen/player_row_red.png');
            .icon-overlay {
              background: linear-gradient(to right, rgba(#27021f, 0) 16%, rgba(#27021f, 1) 100%) 100%;
            }
            .name {
              .hero-name {
                color: lighten($color: $glowColor, $amount: 45);
                text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 4px $glowColor, 0px 0px 4px $glowColor, 0px 0px 4px $glowColor, 0px 0px 4px $glowColor;
              }
            }
          }
        }
      }
    }
  }
}
