:host {
  display: block;
  width: auto;
  max-width: 350px;
  .header {
    display: flex;
    h3 {
      color: white;
      margin-bottom: 0px;
      flex-grow: 1;
      font-weight: 700;
    }
    .ability {
      $color: lighten(blue, 20);
      color: $color;
      background-color: rgba($color, 0.1);
      border: 2px solid $color;
      padding: 2px;
      border-radius: 4px;
      min-width: 32px;
      text-align: center;
      font-weight: 700;
      &::before {
        padding: 2px;
      }
      &.ability-q::before {
        content: "Q";
      }
      &.ability-w::before {
        content: "W";
      }
      &.ability-e::before {
        content: "E";
      }
      &.ability-d::before {
        content: "Trait (D)";
      }
      &.ability-z::before {
        content: "Z";
      }
      &.ability-r {
        $color: rgb(243, 166, 0);
        border-color: $color;
        color: $color;
        background-color: rgba($color, 0.1);
        &::before {
          content: "Heroic (R)";
        }
      }
      &.ability-a {
        $color: rgb(211, 67, 67);
        border-color: $color;
        color: $color;
        background-color: rgba($color, 0.1);
        &::before {
          content: "Active";
        }
      }
      &.ability-p {
        $color: rgb(0, 185, 145);
        border-color: $color;
        color: $color;
        background-color: rgba($color, 0.1);
        &::before {
          content: "Passive";
        }
      }
      &.ability-1 {
        &::before {
          content: "1";
        }
      }
      &.ability-2 {
        &::before {
          content: "2";
        }
      }
    }
  }
  .cooldown {
    color: white;
  }
  .mana {
    color: white;
  }
  .description {
    margin-top: 8px;
  }
  ::ng-deep {
    .quest,
    .reward {
      padding-top: 4px;
      padding-bottom: 4px;
      label {
        font-weight: 700;
        color: yellow;
      }
    }
  }
}
