:host {
  display: block;
  padding: 40px;
  section {
    display: flex;
    justify-content: center;
  }
}
/*
a{
  color: #274141;
  color: #680202;
  color: #191970;
  color: #b8860b;
  color: #013801;


}*/